--- 
layout: default 
title: Gallery
media:
- type: img
  src: /images/SunStudios.JPG
  desc: Misses Ellipsis's recording session at the legendary Sun Studios in Memphis, TN, 2018
- type: img
  src: /images/ArtJam.jpg
  desc: Amanda Carter playing keyboards with soul-funk-rock band, Soy Capybara at the 2019 Art Jam festival in Whitingham, VT
- type: video
  src: https://youtu.be/jLC0bCLGb9U/400x300
  desc: Misses Ellipsis performing "Tangerine Moon" with drummer, Tyler Gavitt at A Common Ground in Danbury, CT, 2019
---

{% for item in page.media %}
  {% if item.type == "img" %}
    <img src="{{item.src}}" alt="{{item.desc}}">
  {% endif %}
  {% if item.type == "video" %} 
   <!-- <video src="{{item.src}}" controls=></video> -->

    <iframe width="560" height="315" src="https://www.youtube.com/embed/K4vcVZ-glGA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    
  {% endif %}
{% endfor %}